{% extends 'base.html.twig' %}

{% block body %}
    <h1>CtlSucursal list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombresucursal</th>
                <th>Telefonofijo</th>
                <th>Fax</th>
                <th>Correoelectronico</th>
                <th>Direccionsucursal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlSucursal in ctlSucursals %}
            <tr>
                <td><a href="{{ path('ctlsucursal_show', { 'id': ctlSucursal.id }) }}">{{ ctlSucursal.id }}</a></td>
                <td>{{ ctlSucursal.nombreSucursal }}</td>
                <td>{{ ctlSucursal.telefonoFijo }}</td>
                <td>{{ ctlSucursal.fax }}</td>
                <td>{{ ctlSucursal.correoelectronico }}</td>
                <td>{{ ctlSucursal.direccionSucursal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ctlsucursal_show', { 'id': ctlSucursal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ctlsucursal_edit', { 'id': ctlSucursal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ctlsucursal_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
