{% extends 'base.html.twig' %}

{% block body %}
    <h1>RhPuestoPerfil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rhPuestoPerfil.id }}</td>
            </tr>
            <tr>
                <th>Profesion</th>
                <td>{{ rhPuestoPerfil.profesion }}</td>
            </tr>
            <tr>
                <th>Experiencia</th>
                <td>{{ rhPuestoPerfil.experiencia }}</td>
            </tr>
            <tr>
                <th>Conocimientos</th>
                <td>{{ rhPuestoPerfil.conocimientos }}</td>
            </tr>
            <tr>
                <th>Habilidades</th>
                <td>{{ rhPuestoPerfil.habilidades }}</td>
            </tr>
            <tr>
                <th>Nombrepuesto</th>
                <td>{{ rhPuestoPerfil.nombrePuesto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rhpuestoperfil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rhpuestoperfil_edit', { 'id': rhPuestoPerfil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
