{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/js/maquina/css/stylemaquina.css')}}">
{% endblock css%}
{% block js %}
     {{parent()}}
     
    
{% endblock %}


{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
        <div class="col-md-8">
            <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Contactos</p>
            <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Gesti&oacute;n  de contactos</p>
        </div>
 {% endblock%}
 {% block acciones %}
     
     	<div class="col-md-4" style="margin-top: 50px;">
                             {{parent()}}
	
                                <div class="btn-group pull-right">
                                  <a href="{{ path('nuevocontacto') }}" class="admin-menu-navi">
                                        <button class="btn btn-primary  btn-sm " style="margin-left: 5px;" id="nuevoCp">Nuevo</button>
                                     </a>
                                </div>
                                   <div class="btn-group pull-right">
                                        <button class="btn btn-danger  btn-sm " style="margin-left: 5px;" id="eliminarCP">Eliminar</button>
                                    </div>
                                        
                               
                              
                                <!-- Botones del ingreso -->
                                
                                
	</div>
     
 {% endblock %}
		
		</div>

{% endblock %}
{% block navegacion_Y_body %}
    	<div class="row">
        {% block navegacion %}
            <hr style="margin-top: 10px !important;">
                <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                    <!-- Left Navigation -->
                    <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('admin_contacto_index') }}" class="leftnava colorAnclas"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                       

                    </ul>
                </div>	

       {% endblock %}

{% block cuerpo %}
       {{parent()}}
    <div class="col-md-10">
      
              
              
 <div >
     
      <table id="listaClientes" class="mdl-data-table" cellspacing="0" width="100%">
           
				          <thead>
                                                                            
				            <tr>
                                                                                <th style="display: none;"> 
                                                                                  Seleccion  
                                                                                </th>
                                                                                <th>ID Contacto</th>
                                                                                <th>Nombre de Contacto</th>
                                                                                <th>Correo</th>
                                                                                <th>Telefono Fijo</th>
	
				            </tr>
				        </thead>
				        
				        {#<tbody>
				            <tr>
				                <td>Guillermo Jandres</td>
				                <td>Chiltiupan, La Libertad</td>
				                <td>Edinburgh</td>
				                <td><input type="button" value="Ver mas"></td>
				              
				            </tr>
				            
				        </tbody>#}
				    </table>

    
  </div>
</div>
    
    
    
    
    
{% endblock %}

       </div>
{% endblock %}
 
 {% block js_extend %}
     <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js "></script>
	<script type="text/javascript">
		$(document).ready(function() {
                    $("#eliminarCP").hide();
		    $('#listaClientes').DataTable( {
                                    
		        columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3],
		                className: 'mdl-data-table__cell--non-numeric'
		            }
                                                ,
                                            {
                                                "targets": [ 0,1,2,3],
                                                 "orderable": true
                                            },
                                             {
                                                "targets": [3],
                                                 "orderable": false
                                              }

		        ],
                                        
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('contacto_data')}}',
                                            "type": 'GET'
                                        },
                                        "columns": [
                                               { "data":"id" },
                                             { "data":"nombre" },
                                             {"data":"contacto"},
                                             {"data":"telefono"},
                                             
                              ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                            "search": "",
                                            searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }

 
		    } );
                  
//Evento que me me pasa como parametro el id de un tr y de esta forma poder llenar el formulario de edicion      
         
       var idEliminar=0;
       
       $(document).on("click","tbody>tr",function() {
       
             var idCliente =  $(this).children().html();
            $("tr").css('background-color', 'white');
            $(this).css('background-color', '#E9E6E6');
            
            
             $("#eliminarCP").show();   
             idEliminar=idCliente;
   
                
       });
         
       $(document).on("dblclick","tbody>tr",function() {
             var idCliente =  $(this).children().html();
             
               var numero = idCliente;
                  var url=Routing.generate('editarContacto',{id:numero});
                  window.open(url,"_self"); 
             $("#eliminarCP").hide();   
                
       });
     
 
   $("#eliminarCP").on("click",function (){
    
               var valor = new Array();
          
                            
                  valor.push(idEliminar);


//Funcion del POST que me permite inabilitar un Proveedor

                    $.post( "{{path('eliminarcontacto')}}", { idcontacto: valor }, function( data ) {
                        var par = new Array();
                        par = data.query;

                      
                      
                        if(data.flag === 0) {
                            
                            var table = $('#listaClientes').DataTable();
                                 $("#eliminarCP").hide();
                            table.ajax.reload( function ( json ) {
                               
                            } );
                           Lobibox.notify("error", {
                                          size: 'mini',
                                          msg: 'Registro eliminado con exito'
                                      });
                            
                        }
                        else{
                                Lobibox.notify("error", {
                                          size: 'mini',
                                          msg: 'Error al elmonar los datos, espere un momento e intenta de nuevo'
                                      });
                                            location.reload();
                        }
                       
                    }, "json"); 
               
               
   });
           
   
   
   
   
   
   
   
   
   
   
   
        
        
                    
});



               
               
               
  
           
           
               
               
               
    
</script>
  
     
      
      
  {% endblock %} 


