{% extends 'base.html.twig' %}

{% block body %}
   {# <h1>InvProveedor edit</h1>#}

<div class="row">
     {{ form_start(edit_form, {'action': path('clientepotencial_edit',{'id':crmClientePotencial.id})}) }}
    {#  {{ form_widget(edit_form) }}#}
      
        <div class="col-md-4">
            {{ form_row(edit_form.nombre, {'attr': {'class': 'form-control clientepotencialEditText '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.emailId, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.siguienteFechaContacto, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.telefono, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
          <div class="col-md-4">
            {{ form_row(edit_form.movil, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
          <div class="col-md-4">
            {{ form_row(edit_form.fax, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
          <div class="col-md-4">
            {{ form_row(edit_form.sitioWeb, {'attr': {'class': 'form-control clientepotencialEditText'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.estadoClientePotencial, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.industriaCliente, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.referenciaCliente, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.territorio, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.idUsuarioSiguienteContacto, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.idUsuarioPropietario, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.crmEmpresaCliente, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_row(edit_form.sector_mercado, {'attr': {'class': 'form-control clientepotencialEditSelect'} }) }}
        </div>

        
      
        
    {{ form_end(edit_form) }}
</div>
<hr>
    
    
    
    
    
   {# <ul>
        <li>
            <a href="{{ path('admin_invproveedor_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
