{% extends 'base.html.twig' %}

{% block body %}
    <h1>CtlTipoEmpleo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlTipoEmpleo.id }}</td>
            </tr>
            <tr>
                <th>Nombretipoempleocol</th>
                <td>{{ ctlTipoEmpleo.nombreTipoEmpleocol }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ctltipoempleo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ctltipoempleo_edit', { 'id': ctlTipoEmpleo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
