{% extends 'base.html.twig' %}

{% block body %}
   {# <h1>InvProveedor edit</h1>#}

<div class="row">
     {{ form_start(edit_form, {'action': path('cliente_edit',{'id':crmCliente.id})}) }}
    {#  {{ form_widget(edit_form) }}#}
      
        
        <div class="col-md-4">
            {{ form_row(edit_form.nombreCompleto, {'attr': {'class': 'form-control clienteTextBoxEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.sitioWeb, {'attr': {'class': 'form-control clienteTextBoxEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.datosCliente, {'attr': {'class': 'form-control clienteTextBoxEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.categoriaCliente, {'attr': {'class': 'form-control clienteSelectEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.clientePotencial, {'attr': {'class': 'form-control clienteSelectEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.territorio, {'attr': {'class': 'form-control clienteSelectEdit '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(edit_form.tipo, {'attr': {'class': 'form-control clienteSelectEdit '} }) }} 
        </div>
 
    {{ form_end(edit_form) }}
</div>
<hr>
    
    
    
    
    
   {# <ul>
        <li>
            <a href="{{ path('admin_invproveedor_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
