{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    
      <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.css')}}">
          <link rel="stylesheet" href="{{ asset('Resources/sweetalert-master/dist/sweetalert.css')}}"> 
              <link rel="stylesheet" href="{{asset('Resources/AdminLTE-2.3.0/dist/css/skins/_all-skins.min.css')}}">
              <link rel="stylesheet" href="{{ asset('Resources/js/registroCompras/stylemaquina.css')}}">
                  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                    <link rel="stylesheet" href="{{ asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css') }}">
     
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/js/maquina/css/stylemaquina.css')}}">
{% endblock css%}
{% block js %}
       {{parent()}}
       <script src="{{ asset('Resources/sweetalert-master/dist/sweetalert.min.js') }}"></script>
       <script src="{{ asset('Resources/select2/dist/js/select2.js') }}"></script> 
       <script src="{{ asset('Resources/js/registroCompras/registroCompras.js')}}" ></script>  

         <script src="{{ asset('Resources/AdminLTE-2.3.0/dist/js/app.js') }}" type="text/javascript"></script>
    
{% endblock %}
{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
     <div class="col-md-8">
         <input type="hidden" id="idDistribuidor">
         <input type="hidden" id="idDetalleRegistroCompra">
         <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Ventas </p>
         <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Ordenes de ventas</p>
     </div>
 {% endblock%}
 {% block acciones %}
     
     	<div class="col-md-4" style="margin-top: 50px;">
                                <!-- Boton Modificacion -->
				<div class="btn-group pull-right">
					<button class="btn btn-default btn-sm verMasDetalles" style="margin-left: 5px;" type="submit">Ver mas</button>
				</div>
                                                                 <div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-sm cancelarVerMas" style="margin-left: 5px;" id="cancelarVetMasDetalles">Cancelar</button>
				</div>
                                
			
                                
				<!-- Boton Delete -->
				<div class="btn-group pull-right">
                                                                     <button class="btn btn-danger btn-sm delete" style="margin-left: 5px;" type="submit" >Delete</button>
				</div>

				<!-- Boton Ingreso -->
				<div class="btn-group pull-right">
                                                                            <button class="btn btn-primary btn-sm nuevoRegistroCompra" style="margin-left: 5px;" id="insertar">Nuevo</button>
				</div>
                                                             
                                                                <div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-sm cancelarRC" style="margin-left: 5px;" id="cancelarRC">Cancelar Registro</button>
				</div>

				
                                
                                
				<!-- Boton con Dropdown -->
				
			</div>
     
 {% endblock %}
		
		</div>

{% endblock %}
{% block navegacion_Y_body %}
    
    	<div class="row">
        {% block navegacion %}
		<hr style="margin-top: 10px !important;">
			<div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
				<!-- Left Navigation -->
				<ul style="list-style: none; padding: 0;">
                                    <a href="{{ path('cliente_registroCompras_index') }}" class="leftnava"><li class="leftnav left active ">Menu<span class="pull-right right"></span></li></a>

				</ul>
			</div>	
       
            
            
       {% endblock %}

{% block cuerpo %}
    {{parent()}}
    <div class="col-md-10" id="contenidoIndexDistribuidores" style="margin-top: 20px;">
        <div class="row" style=" margin-left:0px; margin-right:0px;">
            <section class="col-lg-12 connectedSortable ui-sortable">
                <div class="nav-tabs-custom" style="cursor: move;">
                    <ul class="nav nav-tabs  ui-sortable-handle">
                         <li class="active"><a href="#divEntregadas" data-toggle="tab" class="colorAnclas colorPestanhas disabled" id="comprasEntregadas">Pago Recibido</a></li>
                        <li><a href="#divProcesadas" data-toggle="tab" class="colorAnclas colorPestanhas" id="comprasProcesados">Procesado</a></li> 
                        <li><a href="#divEnviadas" data-toggle="tab" class="colorAnclas colorPestanhas" id="comprasEviadas">En camino</a></li>
                        <li><a href="#divPendientesCanceladas" data-toggle="tab" class="colorAnclas colorPestanhas" id="comprasPendientesCanceladas">En proceso</a></li>
                           <li><a href="#divCompletado" data-toggle="tab" class="colorAnclas colorPestanhas" id="idcompletado">Completado</a></li>
                          <li><a href="#divVistaDetalle" data-toggle="tab" class="colorAnclas colorPestanhas" id="comprasVistaDetalle">Vista Detalle</a></li>
                        <li class="pull-left header">
                    </ul>
                    
                         <div class="tab-content no-padding">
                           <div class="chart tab-pane active colorDiv" id="divEntregadas" style=" padding: 15px;" >
                                {% include 'ERPCRMBundle:ordenesdecompra:comprasEntregadas.html.twig' %}    
                        </div>
                        <div class="chart tab-pane   colorDiv" id="divProcesadas" >
                           {% include 'ERPCRMBundle:ordenesdecompra:comprasProcesadas.html.twig' %}                       
                        </div>

                    
                         <div class="chart tab-pane  colorDiv" id="divEnviadas" style=" padding: 15px;" >
                       {% include 'ERPCRMBundle:ordenesdecompra:comprasEnviados.html.twig' %}         
                        </div>
                         <div class="chart tab-pane  colorDiv" id="divPendientesCanceladas" style=" padding: 15px;" >
                               {% include 'ERPCRMBundle:ordenesdecompra:comprasPendientesCanceladas.html.twig' %}         
                        </div>
                            <div class="chart tab-pane  colorDiv" id="divCompletado" style=" padding: 15px;" >
                               {% include 'ERPCRMBundle:ordenesdecompra:completado.html.twig' %}         
                        </div>
                         <div class="chart tab-pane colorDiv" id="divVistaDetalle" style=" padding: 15px;" >
                                {% include 'ERPCRMBundle:ordenesdecompra:formularioedicion.html.twig' %}    
                        </div>
                    </div>
                </div>
            </section>
        </div>
                        

        <div class="clearfix"></div>
     



    
    
     </div>  
{% endblock %}

       
{% endblock %}
 {% block js_extend %}

     <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js "></script>
      <script  type="text/javascript">
          $(document).ready(function(){
var numero_edicion =0;

            $('#registroCompras').DataTable({
                       columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3,4,5,6],
		                className: 'mdl-data-table__cell--non-numeric'
		            },
                                                {
                                                    "targets": [ 3,5 ],
                                                    "visible": false
                                                }
		        ],
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('registro_compra_data')}}',
                                            "type": 'GET'
                                        },
                                       "columns": [
                         { "data":"id" },
                         { "data":"numeroOrden" },
                         { "data":"nombreCompleto" },
                         {"data":"datosCliente"},
                         {"data":"monto"},
                         {"data":"pago"},
                         {"data":"tipoVenta"}
                    
                        
                         
              
                    ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                              "search": "",
                                                searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }
                    
        });


        
        
        
        //Esta es la parte que estoy agregando
          $('#registroComprasEntregados').DataTable( {
                                    
		        columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3,4,5,6],
		                className: 'mdl-data-table__cell--non-numeric'
		            },
                                                {
                                                    "targets": [ 3,5 ],
                                                    "visible": false
                                                }
		        ],
                                        
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('registro_compra_entregado_data')}}',
                                            "type": 'GET'
                                        },
                                       "columns": [
                         { "data":"id" },
                           { "data":"numeroOrden" },
                         { "data":"nombreCompleto" },
                         {"data":"datosCliente"},
                         {"data":"monto"},
                            {"data":"pago"},
                           {"data":"tipoVenta"}
                    
                        
                         
              
                    ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                            "search": "",
                                            searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }

 
		    } );
        
        
 
        
        //Termina la parte

         $('#registroComprasEnviados').DataTable({
                        columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3,4,5,6],
		                className: 'mdl-data-table__cell--non-numeric'
		            },
                                                {
                                                   "targets": [ 3,5 ],
                                                    "visible": false
                                                }
		        ],
                                        
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('registro_compra_enviados_data')}}',
                                            "type": 'GET'
                                        },
                                       "columns": [
                         { "data":"id" },
                           { "data":"numeroOrden" },
                         { "data":"nombreCompleto" },
                         {"data":"datosCliente"},
                         {"data":"monto"},
                           {"data":"pago"},
                           {"data":"tipoVenta"}
                    
                        
                         
              
                    ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                              "search": "",
                                            searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }

                    
        });
        
        
        
         $('#registroComprasPendientesCanceladas').DataTable({
                       columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3,4,5,6],
		                className: 'mdl-data-table__cell--non-numeric'
		            },
                                                {
                                                    "targets": [ 3,5 ],
                                                    "visible": false
                                                }
		        ],
                                        
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('registro_compra_pendientes_data')}}',
                                            "type": 'GET'
                                        },
                                       "columns": [
                         { "data":"id" },
                           { "data":"numeroOrden" },
                         { "data":"nombreCompleto" },
                         {"data":"datosCliente"},
                         {"data":"monto"},
                            {"data":"pago"},
                           {"data":"tipoVenta"}
                    
                        
                         
              
                    ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                             "search": "",
                                            searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }
              
                    
        });
        
        
          //Esta es la parte que estoy agregando
          $('#registroComprasCompletado').DataTable( {
                                    
		         columnDefs: [
		            {
		                targets: [ 0, 1, 2 ,3,4,5,6],
		                className: 'mdl-data-table__cell--non-numeric'
		            },
                                                {
                                                   "targets": [ 3,5 ],
                                                    "visible": false
                                                }
		        ],
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('registro_compra_completo_data')}}',
                                            "type": 'GET'
                                        },
                                       "columns": [
                         { "data":"id" },
                           { "data":"numeroOrden" },
                         { "data":"nombreCompleto" },
                         {"data":"datosCliente"},
                         {"data":"monto"},
                            {"data":"pago"},
                           {"data":"tipoVenta"}
                    
                        
                         
              
                    ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                              "search": "",
                                            searchPlaceholder: "Buscar",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }

 
		    } );
        
        
        
        
        
        
        
        
        
         $(document).on("click","#insertar",function() {
         
                       var url = Routing.generate('cliente_distribuidores_index');
                                                                window.open(url, "_self");
         
         
         
         });
        
      
        $(".delete").hide();
       $("#cancelarRC").hide();
        
        
        $("#formularioInsercion").hide();
         $("#formularioEdicion").hide();
        
     $(document).on("click","tr",function() {
       
             var identificador =     $(this).attr("role");
             
            if(identificador=="row"){
            $("tr").css('background-color', 'white');
            $(this).css('background-color', '#E9E6E6');
           
              var idDetalle =  $(this).children().html();
             $(".verMasDetalles").show();
             $(".eliminar").show();   
          
             $("#idDetalleRegistroCompra").val(idDetalle);
              
                           $(".verMasDetalles").show();
             
            }
       
         
             
             
           
                
       });    

 $(document).on("dblclick","tr",function() {
     
             var identificador =     $(this).attr("role");
              if(identificador=="row"){
              var idCliente =  $(this).children().html();
            $("tr").css('background-color', 'white');
            $(this).css('background-color', '#E9E6E6');
           

             $(".eliminar").show();   
             $(".nuevoRegistroCompra").show();
             $("#idDistribuidor").val(idCliente);
             
             $(".verMasDetalles").click();
             
             
             
            }
                
       });


     });
        
      </script>
      
      
  {% endblock %} 



