{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    <style>
        #lista_clientepotencial_paginate{
            float: left;
        }
        #lista_territorios_previous{
           
            letter-spacing: 0.1em;
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
        
          
        }
        #lista_territorios_next{
        
            letter-spacing: 0.1em;
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
       
        }
        
 
        .current{
            border: 1px solid #979797;
            
            
        }
        
        .paginate_button{
            color:#000;
            letter-spacing: 0.1em;
            box-sizing: border-box;
            display: inline-block;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
            text-decoration: none !important;
        }
        
        .paginate_button:hover{
             
            background : #c8ced4 !important;
             
        }

    </style>
      <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.css')}}">
          <link rel="stylesheet" href="{{ asset('Resources/sweetalert-master/dist/sweetalert.css')}}"> 
{% endblock css%}
{% block js %}
       {{parent()}}
       <script src="{{ asset('Resources/sweetalert-master/dist/sweetalert.min.js') }}"></script>
       <script src="{{ asset('Resources/select2/dist/js/select2.js') }}"></script>   
       <script src="{{ asset('Resources/js/distribuidores/distribuidores.js')}}" ></script>  
       <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    
    
{% endblock %}
{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
			<div class="col-md-8">
                            <input type="hidden" id="idDistribuidor">
				<p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Cliente Distribuidores</p>
                                <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Gesti&oacute;n  de clientes distribuidores.<br>Selecciona a tus clientes para ver  las distintas opciones</p>
                                   
			</div>
 {% endblock%}
 {% block acciones %}
     
     	<div class="col-md-4" style="margin-top: 50px;">
                                <!-- Boton Modificacion -->
				<div class="btn-group pull-right">
					<button class="btn btn-primary btn-sm modificar" style="margin-left: 5px;" type="submit">Editar</button>
				</div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary  btn-sm " style="margin-left: 5px;" id="guardarModificacion">Guardar</button>
                                </div>

				<div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-sm" style="margin-left: 5px;" id="cancelarModificacion">Cancelar</button>
				</div>
                                
                                
				<!-- Boton Delete -->
				<div class="btn-group pull-right">
                                    <button class="btn btn-danger btn-sm delete" style="margin-left: 5px;" type="submit" >Delete</button>
				</div>

				<!-- Boton Ingreso -->
				<div class="btn-group pull-right">
                                                                    <button class="btn btn-primary btn-sm insertar" style="margin-left: 5px;" id="insertar">Nuevo Cliente</button>
				</div>
                                                                <div class="btn-group pull-left">
                                                                    <button class="btn btn-primary btn-sm nuevoRegistroCompra" style="margin-left: -30px;" id="nuevoRC" title="Nuevo Registro de compra">Nuevo Registro Compra</button>
				</div>
                                                                <div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-sm cancelarRC" style="margin-left: 5px;" id="cancelarRC">Cancelar Registro</button>
				</div>

				<div class="btn-group pull-right">
                                                                    <button class="btn btn-primary  btn-sm guardar" style="margin-left: 5px;" id="guardar">Guardar</button>
				</div>

				<div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-sm cancelar" style="margin-left: 5px;" id="cancelar">Cancelar</button>
				</div>
                                <!-- Botones del ingreso -->
                                
                                
				<!-- Boton con Dropdown -->
				
			</div>
     
 {% endblock %}
		
		</div>

{% endblock %}
{% block navegacion_Y_body %}
    	<div class="row">
        {% block navegacion %}
		<hr style="margin-top: 0px !important;">
			<div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
				<!-- Left Navigation -->
				<ul style="list-style: none; padding: 0;">
                                    <a href="{{ path('crm_dashbord') }}" class="leftnava"><li class="leftnav left active ">Menu<span class="pull-right right"></span></li></a>
                                    <a href="{{ path('crm_configuracion') }}" class="leftnava"><li class="leftnav left ">Configuraci&oacute;n</li></a>
                                     <a href="{{ path('crm_reportes') }}" class="leftnava"><li class="leftnav left">Reportes</li></a>
				</ul>
			</div>	
       
            
            
       {% endblock %}

{% block cuerpo %}
    
    <div class="col-md-10" id="contenidoIndexDistribuidores">
        <div id="datadistribuidores">
        <div class="col-md-12" id="formularioInsercion" style="margin-bottom: 40px;" >
      {% include 'ERPCRMBundle:crmcliente:new.html.twig' %}
            
        </div>
        
        <div id="formularioEdicion" style="margin-bottom: 40px;" >
              
            
            
            
        </div>
       
              
              
     
      
            <table id="lista_cliente" class="table table-bordered table-hover display dt-responsive dataTable no-footer" style="width: 99%;">
        <thead>
            <tr>
                
                <th><input type="checkbox" name="select_all" id="select_all"></th>
                <th>Nombre</th>
                <th>Porcentaje</th>
                <th>Credito</th>
             
               
               
                {#<th>Actions</th>#}
            </tr>
        </thead>
        {#<tbody>
        {% for ctlTerritorio in ctlTerritorios %}
            <tr>
                <td><a href="{{ path('ctlterritorio_show', { 'id': ctlTerritorio.id }) }}">{{ ctlTerritorio.id }}</a></td>
                <td>{{ ctlTerritorio.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ctlterritorio_show', { 'id': ctlTerritorio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ctlterritorio_edit', { 'id': ctlTerritorio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>#}
        
    </table>
    </div>    

        <div class="clearfix"></div>
       

           
             
      <div class="row"  style="margin-top: 10px;">
       
             <div id="contenidoFormularioRegistroCompra">
                 <div class="form-column col-md-3"><div class="form-group" style="margin-right: 2%;" >
                         <label for="nombreCliente" class="control-label">Nombre Cliente</label>
                         <input type="text" class="form-control cle" id="nombreCliente"  name="nombreCliente"  readonly>
                     </div>
                 </div>
                 <div class="form-column col-md-3" style="padding-top: 0%;">
                     <div class="form-group">
                         <label for="fechaRC" class="control-label">Fecha</label></br>
                         <input type="text" name="fechaRC" id="fechaRC"  required class="form-control">

                     </div>
                 </div>
                 <div class="form-column col-md-3"><div class="form-group" style="margin-right: 2%;" >
                         <label for="tipoEstado" class="control-label">Tipo de pago</label>
                         <select name="tipoEstado" id="tipoEstado" style="width: 100%" class="form-control" required>
                            <option value="2">Entregado</option>
                             <option value="1">Procesado</option>
                         </select>
                     </div>
                 </div>
                  <div class="form-column col-md-3"><div class="form-group" style="margin-right: 2%;" >
                         <label for="costo" class="control-label">Estado</label>
                         <select name="tipoPago" id="tipoPago" style="width: 100%" class="form-control" required>
                             <option value="Efectivo">Efectivo</option>
                             <option value="Credito">Credito</option>
                                
                         </select>
                     </div>
                 </div>
                 <div class="clearfix"></div>
                 <div style="margin-bottom: 10px;margin-top: 10px;margin-left: 10px;" class="col-md-2">
                     <img src="{{ asset('Resources/src/img/add.png') }}" title="Nuevo" class="addCompraProducto">
                     <b class="addDatosMantenimiento">Agregar detalle</b><br><br>
                </div>
                <div class="col-md-10"></div>
                
             </div>
                     <div class="form-column col-md-4" id="botonesInsercion">
                       
                             <div class="btn-group">
                                 <a class="btn btn-default  btn-sm " style="margin-left: 0px;margin-top: 35px;" id="cancelarInsercionRC">Cancelar</a>
                             </div>
                             <div class="btn-group">
                                 <button class="btn btn-primary  btn-sm " style="margin-left: 0px;margin-top: 35px;" id="guardarInsercionRC">Guardar</button>
                             </div>                                                                              
                         
                     </div>
                     <div class="col-md-4"></div>
                     <div class="col-md-4">
                         <div class="btn-group totalRC">
                             <label for="totalRC" class="control-label totalRC" >Total</label>
                             <input type="text" class="form-control cle" id="totalRC"  name="totalRC"  placeholder="$ " readonly>
                         </div>
                     </div>
        </div>
        </div> 
    
    
    
{% endblock %}

        </div>
{% endblock %}
 {% block js_extend %}

  
      <script  type="text/javascript">
          $(document).ready(function(){
var numero_edicion =0;
            $('#lista_cliente').DataTable({
                      "pageLength": 20,
                      "lengthMenu": [ 20 ],
                    "dom": "<'row'<'col-md-6 pull-left'p><'col-md-6 pull-right'f>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5'i><'col-md-7'>>",
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{path('cliente_distribuidores_data')}}',
                        "type": 'GET'
                    },
                    "columns": [
                         { "data":"link" },
                         { "data":"nombreCompleto" },
                         {"data":"porcentaje"},
                         {"data":"credito"}
                    
                        
                         
              
                    ],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 }
                        
                    ],
                    "language": {
                    "info": "Mostrando p치gina _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "processing": "<h4>Procesando petici칩n...</h4>",
                    "search": "<b>Buscar registros:</b>",
                    "lengthMenu": "Mostrar _MENU_ registros"
                }
              
                    
        });


        
        $("#formularioInsercion").hide();
         $("#formularioEdicion").hide();
        
        
        
        
        //Insercion
        $("#insertar").on('click', function(e) {
              $("#formularioInsercion").show();
              
               $(".guardar").show();
               $(".cancelar").show();
               $(".insertar").hide();
               $("#crm_empresa_cliente_nombre").focus();
        
            });

         $(".delete").hide();
         $(".modificar").hide();
         
         $(".guardar").hide();
         $(".cancelar").hide();
         
             $(".cancelarRC").hide();
         
          $("#guardarModificacion").hide();
         $("#cancelarModificacion").hide();
         
         
        $(".cancelar").on('click', function(e) {
            $(".insertar").show();
            $("#formularioInsercion").hide();
             $(".guardar").hide();
             $(".cancelar").hide();
           
             
        });
            
            
            
        $(".guardar").on('click', function(e) {
                insertarDatos();
                
             

        });   
        //Termina la insercion
        
        
         //Modificacion
         $(".modificar").on('click', function(e) {
                $("#formularioEdicion").show();
                $("#guardarModificacion").show();
                $("#cancelarModificacion").show();
                $("#insertar").hide();
                $(".modificar").hide();
                $(".focus").focus();

              

        });  
        
        $("#cancelarModificacion").on("click",function (e){
            $("#formularioEdicion").hide();
            $(".modificar").show();
            $(".insertar").show();
            $(".delete").show();
            $("#guardarModificacion").hide();
            $("#cancelarModificacion").hide();
            
             $(".proveedorTextBox").val("");
             $(".proveedorSelect").val(1);
            
        });
        
        $("#guardarModificacion").on("click",function (e){
                $(".insertar").show();
                $(".guardar").hide();
                $(".cancelar").hide();
            $("#guardarModificacion").hide();
            $("#cancelarModificacion").hide();
             $(".delete").hide();
                modificarDatos();
                  
                  
            
            
        });
        
        
        
        //Eventos de los CheckBoxs para poder controlar los seleccionados
         $(document).on('click',".idcliente", function(e) {
             $(".guardar").hide();
             $(".cancelar").hide();
             $("#formularioInsercion").hide();
              $(".insertar").show();

             var num =0;

                    $('.idcliente').each(
                       function (){
                        if($(this).prop("checked")){
                           num++;
                        }
                     

                       });

                    if(num == 0){
                            $(".modificar").hide(); 
                            $(".delete").hide();
                            $("#formularioEdicion").hide();
                            $("#cancelarModificacion").hide();
                            $("#guardarModificacion").hide();
                            $("#insertar").show();
                    } else if(num==1){
                             
                            $(".modificar").show(); 
                            $(".delete").show();
                          
                            
                          //Para editar 
                           numero_edicion = $(this).attr("id");//El valor del id del chechboxs
                            
                          $("#formularioEdicion").load(numero_edicion+"/edit");
                            
                            
                         }else{
                             $(".modificar").hide();
                             $(".delete").show();
                             $("#formularioEdicion").hide();
                             $("#guardarModificacion").hide();
                             $("#cancelarModificacion").hide();
                         } 
            
             
            
            });
            
            
            
            
  //Envento del search que hace que se escondan los botones cuando busco algo dentro del filtro
            var table = $('#lista_cliente').DataTable();

            table.on( 'search.dt', function () {
              $(".delete").hide();
              $(".modificar").hide();
              
                } );
                
 // Handle click on "Select all" control
            $('#select_all').on('click', function(){
               
               
                  if( $(this).is(':checked') ) {
                        $(".delete").show();
                        var table = $('#lista_cliente').DataTable();
                        var rows = table.rows({ 'search': 'applied' }).nodes();
                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                        
                          
                   }else{
                       $(".delete").hide();
                       var table = $('#lista_cliente').DataTable();
                        var rows = table.rows({ 'search': 'applied' }).nodes();
                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                       
                   }
                   
                   });  
       
 //Eliminar desde la seleccion de los checkboxs
//Funcion que prepara el array con todos los id que quiero inabilitar o eliminar
           $(".delete").on("click",function (){
                 $("#formularioEdicion").hide();   
                $("#guardarModificacion").hide();
                $("#cancelarModificacion").hide();
                $(".insertar").show(); 
               
               var valor = new Array();
               $(".idcliente").each(function (index,value){
                   
                   if($(this).prop("checked")){
                      num = $(this).attr("id");
                            
                          valor.push(num);
                        }
                       
                        
                   
                   
               });
               
               console.log(valor);
//Funcion del POST que me permite inabilitar un Proveedor

                    $.post( "{{path('delete_cliente')}}", { idcliente: valor }, function( data ) {
                        var par = new Array();
                        par = data.query;

                        // Si la plantilla contiene campos
                      
                        if(data.flag === 0) {
                            
                            var table = $('#lista_cliente').DataTable();
 
                            table.ajax.reload( function ( json ) {
                               
                            } );
                          
                            
                        }
                        else{
                            $('#totalOrden').html(totalAnterior);
                            $(link).html(mas);
                        }
                       
                    }, "json"); 
               
               
               
               
               
   });
           
           
           
//Funcion ajax para guardar en tiempo real
           
     function insertarDatos(){
           
            var data = new Array();
            var campos = new Array();
            //Primer Each me sirve para recorrer todos los text
             $(".clienteTextBox").each(function(k, va) {
                  
                    campos.push($(this).val());
             });
             
              $(".clienteSelect").each(function(k, va) {
                    
                    campos.push($(this).val());
             });
             
             
            var dato= $("input[name='crm_cliente[credito]']:checked").val();
            campos.push(dato);
   
                       
            
             data.push(campos);
             console.log(data);  
                    
           var request2 = {
                    request : campos
                };
           

            $.ajax({
              data:request2,
              url:"{{path('insert_cliente')}}",
              type: "post",
              
              success: function (data) {
                        var retorno =data.flag;
                       if(retorno==1){
                           
                           $("#formularioInsercion").hide();
                              $(".guardar").hide();
                              $(".cancelar").hide();
                              $(".insertar").show();
                              $(".clienteTextBox").val("");
                             
                              
                            var table = $('#lista_cliente').DataTable();
                            table.ajax.reload( function ( json ) {
                               
                            });
                           Lobibox.notify("success", {
                                        size: 'mini',
                                        msg: 'Datos ingresados con exito'
                                    });
                            
                       }else
                            {
                                  Lobibox.notify("success", {
                                        size: 'mini',
                                        msg: retorno
                                    });
                            }
                       
                    },
              error: function (data) {
                     
                          
                            Lobibox.notify("error", {
                                        size: 'mini',
                                        msg: 'Los datos no fueron ingresados, intente m치s tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                                    });
                       
                    }      
                     
              
            });
            
            
            
	}
        
        
        
        
      //Funcion para poder modificar los datos por medio de ajax  
        
        function modificarDatos(){
                    
            var data = new Array();
            var campos = new Array();
            //Primer Each me sirve para recorrer todos los text
            campos.push(numero_edicion);
             $(".clienteTextBoxEdit").each(function(k, va) {
               
                    campos.push($(this).val());
             });
             
             
              $(".clienteSelectEdit").each(function(k, va) {
                    
                    campos.push($(this).val());
             });
             
             var dato= $("input[name='crm_cliente[credito]']:checked").val();
            campos.push(dato);
             
             data.push(campos);
             console.log(data);  
                    
            var request2 = {
                    request : campos
                };
                console.log(campos);
                
                
            $.ajax({
              data:request2,
              url:"{{path('edit_cliente')}}",
              type: "post",
              
              
              success: function (data) {
                        var retorno = data.flag;
                       if(retorno==1){
                           
                           $("#formularioEdicion").hide();
                              $(".clienteTextBoxEdit").val("");
                              
                              
                            var table = $('#lista_cliente').DataTable();
                            table.ajax.reload( function ( json ) {
                               
                            });
                           Lobibox.notify("success", {
                                        size: 'mini',
                                        msg: 'Datos modificados con exito'
                                    });
                            
                       }else
                            {
                                  Lobibox.notify("success", {
                                        size: 'mini',
                                        msg: retorno
                                    });
                            }
                       
                    },
              error: function (data) {
                           
                          
                                    Lobibox.notify("error", {
                                        size: 'mini',
                                        msg: 'Los datos no fueron modificados, intente m치s tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                                    });
                       
                    }      
                    
                    
                    
              
            });
                
                

        
        }
         



         $(".idPorcentaje").hide();
               $(".idCredito").hide();

    $(document).on('change',".tipoC", function() {
    
            var valor =$(this).val();
     
           if(valor==10){
                 $(".idPorcentaje").show();
               $(".idCredito").show();
              
           }else{
                  $(".idPorcentaje").hide();
               $(".idCredito").hide();
               
           }
           
    
    
    });




         
        });
        
      </script>
      
      
  {% endblock %} 


