{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.css')}}">
    <link rel="stylesheet" href="{{ asset('Resources/sweetalert-master/dist/sweetalert.css')}}"> 
    <link rel="stylesheet" href="{{ asset('Resources/js/registroCompras/stylemaquina.css')}}">
{% endblock css%}
{% block js %}
     {{parent()}}

       <script src="{{ asset('Resources/sweetalert-master/dist/sweetalert.min.js') }}"></script>
       <script src="{{ asset('Resources/select2/dist/js/select2.js') }}"></script> 
       <script src="{{ asset('Resources/js/contabilidad/abonos.js')}}" ></script>  
   
{% endblock %}


{% block descripcion_y_acciones %}

 <div class="row">
 {% block descripcion %}
        <div class="col-md-8">
            <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Edicion de abonos</p>
            <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Gesti&oacute;n  de abonos</p>
        </div>
 {% endblock%}
 {% block acciones %}
                
     
                    
     	<div class="col-md-4" style="margin-top: 50px;">
                          {{parent()}}  
                          
	</div>
       
 {% endblock %}
		
</div>

{% endblock %}
{% block navegacion_Y_body %}
  <div class="row">
        {% block navegacion %}
        <hr style="margin-top: 10px !important;">
                <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                    <!-- Left Navigation -->
                    <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('nuevo_abono_index') }}" class="leftnava colorAnclas"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                       

                    </ul>
                </div>	

       {% endblock %}

{% block cuerpo %}
     {{parent()}}
<div class="col-md-10" style="margin-top: 10px;">
    
   {% for data in abono %}
  <div class="row">
      <input type="hidden" id="idDetalle" value="{{data.id}}">
         <div class="form-column col-md-4">
        <div class="form-group" style="margin-right: 2%;">
            <label for="txtFechaInicioE" class="control-label">Fecha registro abono</label>
             <input type="text"  name="txtFechaInicioE" class="requeridoInsercion form-control  txtFechaIni requeridoBusqueda" data-rule-required="true"
                    style=" width: 100%;" id="txtFechaInicioE"   placeholder="Fecha Registro" value="{{data.fechaRegistroCliente|date('d-m-Y')}}">
        </div>
    </div>

    <div class="form-column col-md-4">
        <div class="form-group" style="margin-right: 2%;">
            <label class="control-label">Ingrese id de cliente o nombre:</label>
            <select id="busqueda-clienteE" name="" class="form-control" data-rule-required="true" style=" width: 100%;">
              {#  <option value="0" disabled selected>Seleccione un cliente ...</option>#}
               <option selected value="{{data.clienteId.id}}"  selected>{{data.clienteId}}</option>
            </select>

        </div>
    </div>

    <div class="form-column col-md-4">
        <div class="form-group" style="margin-right: 2%;">
            <label for="montoAbono" class="control-label">Monto de abono ($)</label>
            <input type="text" name="montoAbonoE" id="montoAbonoE"class="requeridoInsercion form-control input-sm requeridoBusqueda" value="{{data.montoAbono}}" >
        </div>
    </div>
   <div class="clearfix"></div>
  
   <div class="form-column col-md-4"><div class="form-group" style="margin-right: 2%;" >
           <label for="tipoEstado" class="control-label" style="font-size: 13px!important;">Tipo de pago</label>
           <select name="tipoPagoE" id="tipoPagoE" style="width: 100%" class="form-control requeridoInsercion" required>
                {% if data.tipoPago =='Credito'  %}
                      <option value="Credito">Credito</option>
                      <option value="Efectivo">Efectivo</option>
                  {% else %}
                       <option value="Efectivo">Efectivo</option>
                      <option value="Credito">Credito</option>
                 {% endif %}
             

           </select>
       </div>
   </div>

    
    
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="fecha inicio" class="control-label ">Descripcion</label>
                          <textarea class="form-control requeridoInsercion" id="descripcionAbonoE" placeholder="Descripcion del abono" maxlength="50">{{data.descripcion}}</textarea>
                      </div>   
                    </div>
                 
                  <div class="col-md-4">
                      <div class="form-group" style="margin-right: 2%;">
                             <button class="btn btn-primary  btn-sm " id="guardarEdicionE">Guardar</button>
                              <a class="btn btn-default  btn-sm "  id="cancelarAbonoE">Cancelar</a>
                      </div>
                  </div>
         </div>
  
  {% endfor %}
                       <div class="row" style="margin-left: 5px;margin-top: 12px; padding-right: 15px;" id="contenedorDatosGeneralesClienteE">

                      <div class="panel panel-default">
                          <div class="panel-heading"><b>Datos generales</b></div>
                          <div class="panel-body">

                                       <div class="col-md-10"></div>
                                       <div class="clearfix"></div>
                                       <div class="col-md-2"  style="padding-right: 0px;margin-left: -14px; ">
                                             <label class="control-label" for="nombreClienteN" style=" font-size: 13px !important;"><b>Total deuda:</b></label>
                                            <label for="deudaTotal" id="totalDeudaE"> </label>
                                       </div> 
                                       <div class="col-md-10"></div>
                                       <div class="clearfix"></div>
                                        <div class="form-group col-md-4" style="padding-right: 0px;margin-left: -14px; ">
                                            <label class="control-label" for="nombreClienteE" style=" font-size: 13px !important;"><b>Nombre:</b></label>
                                            <label  class="control-label" id="nombreClienteE" placeholder="Nombre cliente"  ></label>
                                        </div>
                                        <div class="form-group col-md-2" style="padding-left: 0px;">
                                            <label class="control-label" for="telefonoClienteE" style=" font-size: 13px !important;"><b>Telefono:</b></label>
                                            <label  class="control-label"id="telefonoClienteE" placeholder="Telefono cliente" ></label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="direccionClienteE"style=" font-size: 13px !important;"><b>Direccion:</b></label>
                                            <label  class="control-label" id="direccionClienteE" placeholder="Direccion cliente" ></label>
                                        </div>
                                       </form>
                          </div>
                            </div>
                             </div>
    
    
    
</div>
{% endblock %}

       </div>
{% endblock %}
 
 {% block js_extend %}
    
        <script type="text/javascript">
            $(document).ready(function() {
         
                  $("#contenedorDatosGeneralesClienteE").hide();
                
                $(document).on("change","#busqueda-clienteE", function(){
                    var idCliente = $(this).val();
                     $.ajax({
                                    type: 'POST',
                                    async: false,
                                    dataType: 'json',
                                    data: {idCliente:idCliente},
                                    url: Routing.generate('llamarTotalDeudaCliente'),
                                    success: function (data)
                                    {
                                         if (data.estado==true){
                                                
                                                       
                                                         $('#deudaContenidoE').show(); 
                                                         $("#totalDeudaE").text(data.total);

                                         }
                                         else{
                                             
                                                swal("Error!", "Error al recuperar el valor de la consulta", "error");

                                         }
                                        
                                             
                    
                                         
                                          
                                    },
                                    error: function (xhr, status)
                                    {
                      
                    }
                    });
                    
                      $.ajax({
                                                type: 'POST',
                                                async: false,
                                                dataType: 'json',
                                                data: {id:idCliente},
                                                url: Routing.generate('seleccionarCliente'),
                                                success: function (data)
                                                {
                                                     
                                                
                                                    if (data.estado == true) {
                                                        
                                                        
                                                        
                                                       $("#nombreClienteE").text(data.nombre);
                                                       $("#telefonoClienteE").text(data.telefono);
                                                       $("#direccionClienteE").text(data.direccion);
                                                       
                                                       $("#contenedorDatosGeneralesClienteE").show();

                                                    }

                                                },
                                                error: function (xhr, status)
                                                {
                                                    
                                                }
                            });
                    
                    
                    
                    
                    
                    
                    
                });                
                
              $(document).on("click","#cancelarAbonoE", function(){
                  
                    var url=Routing.generate('admin_contabilidad_index');
                                                                window.open(url,"_self"); 
                  
                  
                  
              });    
                
                

            });

        </script>

     
      
      
  {% endblock %} 




