{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
{#     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css">#}
    <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.css')}}">
    <link rel="stylesheet" href="{{ asset('Resources/sweetalert-master/dist/sweetalert.css')}}"> 
    <link rel="stylesheet" href="{{ asset('Resources/js/registroCompras/stylemaquina.css')}}">
    
{% endblock css%}
{% block js %}
       {{parent()}}
       <script src="{{ asset('Resources/sweetalert-master/dist/sweetalert.min.js') }}"></script>
       <script src="{{ asset('Resources/select2/dist/js/select2.js') }}"></script> 
{#       <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js "></script>#}

      
{% endblock %}
{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
     <div class="col-md-8">
         <input type="hidden" id="idDistribuidor">
         <input type="hidden" id="idDetalleRegistroCompra">
         <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Cuentas por cobrar</p>
         <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Has una busqueda de las cuentas por cobrar a tus clientes, seleccionando los parametros.</p>
     </div>
 {% endblock%}
 {% block acciones %}
     
     <div class="col-md-4" style="margin-top: 50px;">
                               {{parent()}}
		
	</div>
     
 {% endblock %}
		
</div>

{% endblock %}
{% block navegacion_Y_body %}
    	<div class="row">
        {% block navegacion %}
            <hr style="margin-top: 10px !important;">
            <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                <!-- Left Navigation -->
                <ul style="list-style: none; padding: 0;">
                    <a href="{{ path('clientes_registros_compras_clientes') }}" class="leftnava colorAnclas"><li class="leftnav left  ">Menu<span class="pull-right right"></span></li></a>
                      <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('dashboard_reportes') }}" class="leftnava colorAnclas"><li class="leftnav left active">Reportes<span class="pull-right right"></span></li></a>
                     </ul>
                </ul>
            </div>	
       
            
            
       {% endblock %}

{% block cuerpo %}
    {{parent()}}
    <div class="col-md-10" id="contenidoIndexRegistroCompraCliente">
       
     

                           
                              
                                  
                                       
                                            <div class="row" style="margin-right: 2px;">
                                                <div class="col-md-4"></div>
                                                
                                                <div class="col-md-4"  >
                                                    <label style="color: #FFF;">Buscar</label>
                                                    <a class="btn btn-sm btn-info btn-flat pull-left" id="busquedaCuentasPorCobrar">Generar Reporte</a>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div>
                                       
                                  
                       
                                <br>
                            
    
     </div>
    <div class="col-md-2"></div>
  

{% endblock %}

       </div>
{% endblock %}
 {% block js_extend %}

  
      <script  type="text/javascript">
          $(document).ready(function(){
           
            $('#txtFechaInicio').Zebra_DatePicker({
                format: 'Y-m-d',
               direction: false,
               pair: $('#txtFechaFin')
           });

            $('#txtFechaFin').Zebra_DatePicker({
               format: 'Y-m-d',
               direction: true
          });   
              
        

           
           
            $(document).on("click", "#busquedaCuentasPorCobrar", function(){
               
                 
                                        var url=Routing.generate('verPDFCuentasPorCobrar');
                                        window.open(url,"_blank"); 
                                        
                                        

               
            });
            
          
         
        });
        
      </script>
      
      
  {% endblock %} 





































