{% extends ':Layout:layout2.html.twig' %}
{% block css_extend %}        
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css"> 
    <style>
        .li_menu{
             
            color : #262626 !important;
             
        }
    </style>
{% endblock %}

{% block descripcion_y_acciones %}
   
    <div class="row">
        {% block descripcion %}
               <div class="col-md-12">
                   <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Inventario de productos</p>
                   <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Lista de Productos</p>
               </div>
               <div class="clearfix"></div>
        {% endblock%}
        {% block acciones %}
            {{parent()}}
            
        {% endblock %}		
    </div>

{% endblock %}
{% block navegacion_Y_body %}
    <div class="row">
    {% block navegacion %}
        <hr style="margin-top: 10px !important;">
        <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
            <!-- Left Navigation -->
            <ul style="list-style: none; padding: 0;">
                <a href="{{ path('dashboard_index') }}" class="leftnava colorAnclas"><li class="leftnav left active li_menu">Menu<span class="pull-right right"></span></li></a>
              </ul>
        </div>
{% endblock %}

{% block cuerpo %}
    {{parent()}}
    
    {#<div class="row">#}
    <div class="col-lg-10" style="margin-top: 10px;">
        <form class="navbar-form" role="search" action="{{ path('inventariobeard_newprod') }}" method="POST">
            {#<p class="text-center">LISTA DE PRODUCTOS</p>#}
            <button type="submit" class="btn btn-default" >Nuevo producto</button>
            <a id="eliminarP" class="btn btn-default">Eliminar</a>
            <a id="modificarP" class="btn btn-default">Modificar</a>
            <table id="example" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>seleccion</th>
                        {#<th>Id</th>#}
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Existencias</th>
                        <th>Presentacion</th>
                        {#<th>Referencia</th>                         #}
                    </tr>
                </thead>                
                {#<tbody>
                    {% for productos in productos %}
                    <tr>
                        <td class="hidden">{{productos.id}}</td>
                        <td>{{productos.nombre}}</td>
                        <td>{{productos.precio}}</td>
                        <td>{{productos.stock}}</td>
                        <td>{{productos.presentacion}}</td>                        
                    </tr>                    
                    {% endfor %}                                                                             
                </tbody>#}
            </table>
        </form>
    </div> 
    {#</div>#}
    <div style="height: 10px;"></div>
{% endblock %}
    </div>

{% endblock %}
 {% block js_extend %}
     
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js "></script>
                    
    <script>
        $(document).ready(function() {
            $("#eliminarP").hide(); 
            $('#modificarP').hide();
            
            //esto es para seleccionar un registro
            var idEliminar=0;
                 
        //Eliminar Producto
        $("#eliminarP").on("click",function (){
            
            var valor = new Array();
            $(".idEncabezado").each(function (index,value){
                if($(this).prop("checked")){
                   num = $(this).attr("id");
                       valor.push(num);
                     }                                                                               
            });
                                    
            //Funcion del POST que me permite inabilitar un Productos                    
            $.ajax({
                data:{idproducto:valor},
                url:"{{path('inventariobeard_delprod')}}",
                type: "post",
                async: false,
                dataType: 'json',
                success: function (data) {                        
                        //var table = $('#example').DataTable();  
                        table.ajax.reload();
                        $('#eliminarP').hide();
                        $('#modificarP').hide();
                    },
                error: function (data) {
                    //alertify.error("{#Hubo un error, intente de nuevo!#}");
                    bootbox.alert("Hubo un error, intente de nuevo!", function() {});
                }
               });                           
        });
        
        //Actualizar Producto
        $("#modificarP").on("click",function (){
            
            var valor = new Array();
            var id = "";
            $(".idEncabezado").each(function (index,value){
                if($(this).prop("checked")){
                       //num = $(this).attr("id");
                       //valor.push(num);
                       id = $(this).attr("id");
                     }                                                                               
            });
                                    
            var url = Routing.generate('inventariobeard_modifyprod', { id:id});
            window.open(url, "_self");                         
        });
        

        /*$(document).on("dblclick","tr",function() {
            var idProducto =  $(this).children().html();

            var numero = idProducto;
            //var url=Routing.generate('editarClientes',{id:numero});
            window.open(url,"_self");
            $("#eliminarCP").hide();   
        });*/
        
        //Para pintar la tabla con el materialize
        var table = $('#example').DataTable({
                      "pageLength": 10,
                      "lengthMenu": [ 20 ],
                       "dom": "ftp",
                    "processing": true,
                
                    "ajax": {
                        "url": '{{path('prod_existencia_data')}}',
                        "type": 'GET'
                    },
                    "columns": [
                        {"data":"lin"},
                        //{"data":"id"},
                        {"data":"nombre"},
                        {"data":"precio"},
                        {"data":"stock"},
                        {"data":"numref"},
                        //{"data":"presen"}                          
                        //{"data":"descripcion"}                                                                              
                    ],
                            columnDefs: [
		            {
		                targets: [ 0, 1, 2,3,4 ],
		                className: 'mdl-data-table__cell--non-numeric'
		            }
		        ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    //"processing": "<h4>Procesando petición...</h4>",
                    "search": "",
                    searchPlaceholder: "Buscar",
                    "lengthMenu": "Mostrar _MENU_ registros",
                   
                }                               
        });
        
        //Eventos de los CheckBoxs para poder controlar los seleccionados
         $(document).on('click',".idEncabezado", function(e) {
                         
             $(".guardar").hide();
             $(".cancelar").hide();
             $("#formularioInsercion").hide();
             $(".insertar").show();

             var num =0;

                $('.idEncabezado').each(
                   function (){
                    if($(this).prop("checked")){
                       num++;
                    }


                   });

                if(num == 0){
                    console.log(num);
                    $("#modificarP").hide();
                    $("#eliminarP").hide();
                        

                }else if(num == 1){

                    $("#modificarP").show();
                    $("#eliminarP").show();

                //Para editar
                numero_edicion = $(this).attr("id");//El valor del id del chechboxs

                $("#formularioEdicion").load(numero_edicion+"/edit");

               }else{
                $("#modificarP").hide();
                $("#eliminarP").show();                
               }
               
            });  
            
            
                              
});//Fin del document ready
      </script>
            
  {% endblock %} 


