{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}

    
    <div class="row">
 {% block descripcion %}
			<div class="col-md-12">
				<p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Producto</p>
                                <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Ingreso de nuevo producto</p>
			</div>
 {% endblock%}
 {% block acciones %}
    
     
 {% endblock %}
		
    </div>

{% endblock %}
{% block navegacion_Y_body %}
  <div class="row">
        {% block navegacion %}
            <hr style="margin-top: 0px !important;">
            <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                    <!-- Left Navigation -->
                    <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('dashboard_index') }}" class="leftnava colorAnclas"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                       
                    </ul>
            </div>
       {% endblock %}
        
{% block cuerpo %}
    {{parent()}}
    <div class="col-md-10" style="margin-top: 15px;"> {#Cuerpo de la interfaz#}
                <div class="row">
                    <form id="newProduct" method="POST" action="{{path('inventariobeard_insertprod')}}" enctype="multipart/form-data">
                        {#<div class="container" style="margin-top: 0px;">#}
                            <div class="row" style="margin-left: 5px;">
                                <div class="col-md-6">
                                    <label for="nombreEmpleado" id="t">Categoria</label>
                                    <select required class="form-control" id="categoria" name="categoria" placeholder=Categoria">
                                        <option value="0" selected style="margin-bottom: 10px;">Seleccione una categoria</option>                           
                                        {% for catprod in categoriaproducto %}
                                            <option value="{{ catprod.id  }}">{{catprod.nombreCategoria }}</option>  
                                        {% endfor %}          
                                    </select>   
                                                                        
                                    {#<label id="lasubcategoria" class="hiden">Subcategoria</label>#}
                                    <div id="sc"></div>
                                    <!-- Se selecciona la subcategoria-->
                                    {#<select class="form-control" name="subcategoria" id="subcategoria" required="">
                                        <option value="" disabled selected style="margin-bottom: 10px;">Seleccione Categoria</option>                                        
                                    </select>#}
                                    <!-- fin de seleccion de subcategoria-->

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre de Producto</label> 
                                        <input id="nombreprod" name="nombreprod" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre de Producto" />
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Codigo de Barra</label> 
                                        <div class="input-group">
                                            <div class="input-group-addon">BA-YMC-1010</div>
                                            <input id="codigo" name="codigo" type="text" class="form-control" id="exampleInputEmail1" placeholder="Codigo de barra" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Precio:</label>
                                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input id="precio" name="precio" type="text" class="form-control" id="exampleInputEmail1" placeholder="Precio" />
                                        </div>
                                    </div>

                                    <div class="form-group">            
                                        <label for="exampleInputEmail1">Link de compra</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">http://wwww.</div>
                                            <input id="link" name="link" type="text" class="form-control" id="exampleInputEmail1" placeholder="Link" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Presentacion del producto</label> 
                                        <input id="presentacion" name="presentacion" type="text" class="form-control" placeholder="Presentacion" />
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Existencias totales</label> 
                                        <input id="stock" name="stock" type="text" class="form-control" placeholder="Cantidad total de productos actules + nuevos" />
                                    </div>
                                    
                                    <div class="form-group">                                                                                
                                        <label for="exampleInputEmail1">Destacar este producto</label><br>
                                        <input id="destacado" name="destacado" type="checkbox" value="1">
                                    </div>
                                    
                                    <div class="form-group">                                                                                
                                        <label for="exampleInputEmail1">Mostrar como no disponible</label><br>
                                        <input id="disponibilidad" name="disponibilidad" type="checkbox" value="1">
                                    </div>
                                    
                                    <div id="nodispo" class="form-group">
                                        <label for="exampleInputEmail1">Mensaje por falta de existencias</label> 
                                        <input id="stock" name="msjexistencia" type="text" class="form-control" placeholder="Cantidad total de productos actules + nuevos" />
                                    </div>
                                </div>
                                    

                                <div class="col-md-6">
                                    <p class="text-center">AGREGAR O QUITAR ATRIBUTOS DE PRODUCTO</p>
                                    <!--<p class="pull-left"><a href="#"><button type="button" class="btn btn-default">Add</button></a></p>-->
                                    <!--<p class="pull-right"><a href="#"><button type="button" class="btn btn-default">Delete</button></a></p>-->


                                    <table class="table" id="dataTable">
                                        <p class="pull-left"><input  type="button" class="btn btn-default " name="otro" id="otro" value="Agregar" onclick="addRow('dataTable');"/></p>
                                        <p class="pull-right"><input type="button" class="btn btn-default" name="borrar" id="borrar" value="Quitar" onclick="deleteRow('dataTable');"/></p>
                                        
                                        <thead>
                                            <!-- <tr>-->  
                                            <!-- <td><input type="text" class="form-control" id="cantidad[]" name ="cantidad[]" placeholder="Ingrese la cantidad" onkeypress="return validNumber(event)"></td>-->
                                            <!--</tr>-->
                                        </thead>
                                        <tbody>
                                                                                        
                                            <tr class="hidden">
                                                <TD><INPUT class="hidden" class="form-control" type="checkbox" NAME="chk"/></TD>
                                                <TD><INPUT class="hidden" class="form-control" id="atributo[]" name ="atributo[]" type="text" placeholder="Ingrese nombre atributo"/></TD>
                                                <TD><INPUT class="hidden" class="form-control temp" id="porcentaje[]" name ="porcentaje[]" type="text" placeholder="Ingrese porcentaje atributo" onkeypress="return validNumber(event)"/></TD>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">Agregar Fotos</div>

                                <!-- <input type="submit"  class="btn btn-default" value="Guardar"> -->
                                <!--cargar imagenes-->
                                <hr>
                            </div>
                        </div>

                        <!-- VISTA PREVIA DE IMAGENES -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">

                                    <input id="userfile" type="file" name="userfile">        
                                    <input id="userfile2" type="file" name="userfile2"> 
                                    <input id="userfile3" type="file" name="userfile3"> 
                                    <input id="userfile4" type="file" name="userfile4"> 
                                    <input id="userfile5" type="file" name="userfile5">      
                                </div>
                                <div id="imagenp" class="col-md-5 hidden-sm hidden-xs"><!--para PC-->
                                    <img id="img_destino0" name="img_destino" src="http://placehold.it/500x500" alt="imagen" style="width: 100%; margin-top:10px;">
                                </div>
                                <div class="col-md-1">
                                    <img id="img_destino" name="img_destino" src="http://placehold.it/200x200" alt="imagen" style="width: 100%; margin-top:10px;"    class="hoverimg">
                                    <img id="img_destino2" name="img_destino2" src="http://placehold.it/200x200" alt="imagen" style="width: 100%; margin-top:10px; " class="hoverimg">
                                    <img id="img_destino3" name="img_destino3" src="http://placehold.it/200x200" alt="imagen" style="width: 100%; margin-top:10px;"  class="hoverimg">
                                    <img id="img_destino4" name="img_destino4" src="http://placehold.it/200x200" alt="imagen" style="width: 100%; margin-top:10px;"  class="hoverimg">
                                    <img id="img_destino5" name="img_destino5" src="http://placehold.it/200x200" alt="imagen" style="width: 100%; margin-top:10px;"  class="hoverimg">
                                </div>
                            </div>
                        </div>
                
                    
                <!-- INGRESO DE DESCRIPCION E INGREDIENTES -->
                <div class="clearfix"></div>
                {#<div class="container">#}
                    <div class="row">
                        <div class="col-md-6">
                            <h1>DESCRIPCION</h1>  
                            <textarea id="descripcion" name="descripcion" class="textarea" placeholder="Enter text ..." style="width: 100%; height: 400px"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h1>INGREDIENTES</h1>  
                            <textarea id="ingrediente" name="ingrediente" class="textarea" placeholder="Enter text ..." style="width: 100%; height: 400px"></textarea>
                        </div>    
                    </div>
                {#</div>#}  {#fin container#}
                <p class="text-center"><button type="submit" class="btn btn-default" style="margin-top: 10px;">Ingresar Entrada</button></p>

                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <!-- Plugin JavaScript -->
                {#<script src="../js/jquery.easing.min.js"></script>#}

                <!-- Custom Theme JavaScript -->
                {#<script src="../js/bootstrap.js"></script>
                <script src="lib/js/wysihtml5-0.3.0.js"></script>
                <script src="lib/js/jquery-1.7.2.min.js"></script>
                <script src="lib/js/prettify.js"></script>
                <script src="src/bootstrap-wysihtml5.js"></script>#}

                {#<script>
                  $('.textarea').wysihtml5();
                </script>#}

                {#<script type="text/javascript" charset="utf-8">
                  $(prettyPrint);
                </script> #}
            </form>
        </div>
    </div> {#fin row#}
</div> {#fin colmd10#}
            
    
   
{% endblock %}

        </div>
{% endblock %}
{% block js_extend %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script  type="text/javascript">
        {#$(document).ready(function(){
          $('#listaProveedores').DataTable();
      });    #}        
   </script>

   <script>
      $( document ).ready(function() { //inicio document ready
          
        //$("#lasubcategoria").hide();
        //$("#subcategoria").hide();
        $("#categoria").on('change', function(e) {
            var idcat = $("#categoria").val();  
            $('#sc').html('');
            //$("#lasubcategoria").hide();
            //alert(idcat);
            filtrarsubcategoria(idcat);
          });
        
       function filtrarsubcategoria(idcat) {
               cadena=" "; 
               var parametros = {
                   "idcat"      : idcat                   
                };
               //alert(idcat);
               $.ajax({
               url:"{{path('inventariobeard_subxcatprod')}}",
               type: "POST",
               data: parametros,
               success: function(opciones){
               
                //$("#subcategoria").show();
                //alert("asdasdsad");
                //alert(opciones.a[0].id);
                cadena = '<label id="lasubcategoria" class="hiden">Subcategoria</label>';
                cadena += '<select class="form-control" name="subcategoria" id="subcategoria" required="">';
                cadena += '<option value="" disabled selected style="margin-bottom: 10px;">Seleccione Subcategoria</option>';
               
                $.each( opciones.a, function( index, value ){
                    //alert(value.id);
                   cadena += '<option value="'+value.id+'">'+value.nombre+'</option>';
                });
                cadena += '</select>';
                $('#sc').append(cadena);
                
               }
           });
       }              
    }); //fin document ready
   </script>
   
   <script type="text/javascript">
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#img_destino').attr('src', e.target.result);
            $('#img_destino0').attr('src', e.target.result);
        }
    reader.readAsDataURL(input.files[0]);
        }
    } 
    $("#userfile").change(function(){
        mostrarImagen(this);
    });
   </script>



   <script type="text/javascript">
       function mostrarImagen2(input) {
    if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
      $('#img_destino2').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
    }
   } 
   $("#userfile2").change(function(){
    mostrarImagen2(this);
   });
   </script>


   <script type="text/javascript">
       function mostrarImagen3(input) {
    if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
      $('#img_destino3').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
    }
   } 
   $("#userfile3").change(function(){
    mostrarImagen3(this);
   });
   </script>

   <script type="text/javascript">
       function mostrarImagen4(input) {
    if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
      $('#img_destino4').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
    }
   } 
   $("#userfile4").change(function(){
    mostrarImagen4(this);
   });
   </script>

   <script type="text/javascript">
       function mostrarImagen5(input) {
    if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
      $('#img_destino5').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
    }
   } 
   $("#userfile5").change(function(){
    mostrarImagen5(this);
   });
   </script>
   
   <script>
        $( document ).ready(function() {
            $("#nodispo").hide();
            $(".hoverimg").on('click', function(e) {

                var imgp= $(this).attr('src');

            $('#imagenp>img').attr('src', imgp);
            });

            $("#disponibilidad").on('click', function(e) {                                       
                if ($('#disponibilidad').is(':checked')) {
                    $("#nodispo").show();
                }else{
                    $("#nodispo").hide();
                }
            });
        });
   </script>
   
   <!--Esta es la parte para agregar y quitar atributos-->
   <script>

   /****************************************************************************/
   /****************************************************************************/
   var elem=1;
   function addRow(tableID) {
     var i=0;
  
       var table = document.getElementById(tableID); 
       var rowCount = table.rows.length;
       var row = table.insertRow(rowCount);
       var cell1 = row.insertCell(0);
       var element1 = document.createElement("input");
     element1.setAttribute("class", "form-control");
     element1.setAttribute("name", "ordenBox[]");
       element1.type = "checkbox";
       cell1.appendChild(element1);

  
       var cell3 = row.insertCell(1);
       var element3 = document.createElement("input");
     element3.setAttribute("class", "form-control");
     element3.setAttribute("placeholder", "Ingrese nombre atributo");
     element3.setAttribute("id", "atributo[]");
     element3.setAttribute("name", "atributo[]");
     //element3.setAttribute("onkeypress", "return validNumber(event)");
       element3.type = "text";
       cell3.appendChild(element3);


   var cell4 = row.insertCell(2);
       var element4 = document.createElement("input");
     element4.setAttribute("class", "form-control temp");
     element4.setAttribute("placeholder", "Ingrese porcentaje atributo");
     element4.setAttribute("id", "porcentaje[]");
     element4.setAttribute("name", "porcentaje[]");
     element4.setAttribute("onkeypress", "return validNumber(event)");
     //element3.setAttribute("onkeypress", "return validNumber(event)");
       element4.type = "text";
       cell4.appendChild(element4);
   }
   /**************************************************************************/
   /**************************************************************************/

   function deleteRow(tableID) {
      try {
                  var table = document.getElementById(tableID);
                  var rowCount = table.rows.length;
            var checkboxValues = new Array();
         
            //recorremos todos los checkbox seleccionados con .each
           $('input[name="ordenBox[]"]:checked').each(function() {
             //$(this).val() es el valor del checkbox correspondiente
             checkboxValues.push($(this).val());
             orden = $(this).val();
           });
        
           // Se comprueba si se ha seleccionado por lo menos una orden
           if(checkboxValues.length > 0){
              for(var i=0; i<rowCount; i++) {
               var row = table.rows[i];
               var chkbox = row.cells[0].childNodes[0];
               if(null != chkbox && true == chkbox.checked) {
                  table.deleteRow(i);
                  rowCount--;
                  i--;
               }
              }
           }
           else{
      
             alert("Debe seleccionar el atributo a borrar"); 
             return false;
           }
                  }catch(e) {
                       alert(e);
                  }
       }

   </script>
 {% endblock %} 