{% extends 'base.html.twig' %}

{% block body %}
    <h1>RhTipoDeduccion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrededuccion</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rhTipoDeduccion in rhTipoDeduccions %}
            <tr>
                <td><a href="{{ path('rhtipodeduccion_show', { 'id': rhTipoDeduccion.id }) }}">{{ rhTipoDeduccion.id }}</a></td>
                <td>{{ rhTipoDeduccion.nombreDeduccion }}</td>
                <td>{{ rhTipoDeduccion.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rhtipodeduccion_show', { 'id': rhTipoDeduccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rhtipodeduccion_edit', { 'id': rhTipoDeduccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rhtipodeduccion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
