{% extends 'base.html.twig' %}

{% block body %}
    <h1>RhPersona</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rhPersona.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ rhPersona.nombres }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ rhPersona.apellido }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ rhPersona.genero }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if rhPersona.fechaIngreso %}{{ rhPersona.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if rhPersona.fechaNacimiento %}{{ rhPersona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dui</th>
                <td>{{ rhPersona.dui }}</td>
            </tr>
            <tr>
                <th>Nit</th>
                <td>{{ rhPersona.nit }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ rhPersona.correoelectronico }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ rhPersona.direccion }}</td>
            </tr>
            <tr>
                <th>Telefonofijo</th>
                <td>{{ rhPersona.telefonoFijo }}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ rhPersona.telefonoMovil }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rhpersona_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rhpersona_edit', { 'id': rhPersona.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
