{% extends 'base.html.twig' %}

{% block body %}
    <h1>InvProveedor list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invProveedor in invProveedors %}
            <tr>
                <td><a href="{{ path('admin_invproveedor_show', { 'id': invProveedor.id }) }}">{{ invProveedor.id }}</a></td>
                <td>{{ invProveedor.nombre }}</td>
                <td>{{ invProveedor.direccion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_invproveedor_show', { 'id': invProveedor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_invproveedor_edit', { 'id': invProveedor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_invproveedor_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
