{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmContacto list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Emailid</th>
                <th>Numeromovil</th>
                <th>Departamento</th>
                <th>Puesto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crmContacto in crmContactos %}
            <tr>
                <td><a href="{{ path('admin_contacto_show', { 'id': crmContacto.id }) }}">{{ crmContacto.id }}</a></td>
                <td>{{ crmContacto.nombre }}</td>
                <td>{{ crmContacto.apellido }}</td>
                <td>{{ crmContacto.telefono }}</td>
                <td>{{ crmContacto.emailId }}</td>
                <td>{{ crmContacto.numeroMovil }}</td>
                <td>{{ crmContacto.departamento }}</td>
                <td>{{ crmContacto.puesto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_contacto_show', { 'id': crmContacto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contacto_edit', { 'id': crmContacto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_contacto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
