{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmCliente list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Datoscliente</th>
                <th>Sitioweb</th>
                <th>Nombrecompleto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crmCliente in crmClientes %}
            <tr>
                <td><a href="{{ path('admin_cliente_show', { 'id': crmCliente.id }) }}">{{ crmCliente.id }}</a></td>
                <td>{{ crmCliente.tipo }}</td>
                <td>{{ crmCliente.datosCliente }}</td>
                <td>{{ crmCliente.sitioWeb }}</td>
                <td>{{ crmCliente.nombreCompleto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_cliente_show', { 'id': crmCliente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cliente_edit', { 'id': crmCliente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cliente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
