{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmCliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crmCliente.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ crmCliente.tipo }}</td>
            </tr>
            <tr>
                <th>Datoscliente</th>
                <td>{{ crmCliente.datosCliente }}</td>
            </tr>
            <tr>
                <th>Sitioweb</th>
                <td>{{ crmCliente.sitioWeb }}</td>
            </tr>
            <tr>
                <th>Nombrecompleto</th>
                <td>{{ crmCliente.nombreCompleto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_cliente_edit', { 'id': crmCliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
