{% extends 'base.html.twig' %}

{% block body %}
   

    {{ form_start(edit_form, {'action': path('ctlestadoclientepotencial_edit',{'id':ctlEstadoClientePotencial.id})}) }}
        {{ form_widget(edit_form) }}
        
        <input type="submit" value="Edit" class="btn btn-success btn-sm" style="margin-top:10px; display: none; " id="submitEditar"  />
    {{ form_end(edit_form) }}

    <ul>
       
        {#<li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" id="submitEliminar">
            {{ form_end(delete_form) }}
        </li>#}
    </ul>
{% endblock %}
