{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmClientePotencial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crmClientePotencial.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ crmClientePotencial.nombre }}</td>
            </tr>
            <tr>
                <th>Emailid</th>
                <td>{{ crmClientePotencial.emailId }}</td>
            </tr>
            <tr>
                <th>Siguientefechacontacto</th>
                <td>{% if crmClientePotencial.siguienteFechaContacto %}{{ crmClientePotencial.siguienteFechaContacto|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ crmClientePotencial.telefono }}</td>
            </tr>
            <tr>
                <th>Movil</th>
                <td>{{ crmClientePotencial.movil }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ crmClientePotencial.fax }}</td>
            </tr>
            <tr>
                <th>Sitioweb</th>
                <td>{{ crmClientePotencial.sitioWeb }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_clientepotencial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_clientepotencial_edit', { 'id': crmClientePotencial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
