{% extends 'base.html.twig' %}

{% block body %}
    <h1>CrmEmpresaCliente list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Nrc</th>
                <th>Nit</th>
                <th>Giro</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Correo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crmEmpresaCliente in crmEmpresaClientes %}
            <tr>
                <td><a href="{{ path('admin_empresacliente_show', { 'id': crmEmpresaCliente.id }) }}">{{ crmEmpresaCliente.id }}</a></td>
                <td>{{ crmEmpresaCliente.nombre }}</td>
                <td>{{ crmEmpresaCliente.direccion }}</td>
                <td>{{ crmEmpresaCliente.nrc }}</td>
                <td>{{ crmEmpresaCliente.nit }}</td>
                <td>{{ crmEmpresaCliente.giro }}</td>
                <td>{{ crmEmpresaCliente.tel }}</td>
                <td>{{ crmEmpresaCliente.fax }}</td>
                <td>{{ crmEmpresaCliente.correo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_empresacliente_show', { 'id': crmEmpresaCliente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_empresacliente_edit', { 'id': crmEmpresaCliente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_empresacliente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
