{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/js/maquina/css/stylemaquina.css')}}">
{% endblock css%}
{% block js %}
     {{parent()}}
     
    
{% endblock %}


{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
        <div class="col-md-8">
            <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Cliente Potencial</p>
            <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Gesti&oacute;n  de clientes potenciales</p>
        </div>
 {% endblock%}
 {% block acciones %}
     
     	<div class="col-md-4" style="margin-top: 50px;">
                                <!-- Boton Modificacion -->
	
                                <div class="btn-group pull-right">
                                  <a href="{{ path('nuevoclientepotencial') }}" class="admin-menu-navi">
                                        <button class="btn btn-primary  btn-sm " style="margin-left: 5px;" id="nuevoCp">Nuevo</button>
                                     </a>
                                </div>
                                   <div class="btn-group pull-right">
                                        <button class="btn btn-danger  btn-sm " style="margin-left: 5px;" id="eliminarCP">Eliminar</button>
                                    </div>
                                        
                               
                              
                                <!-- Botones del ingreso -->
                                
                                
				<!-- Boton con Dropdown -->
				<div class="btn-group pull-right" >
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  id="acciones">
				    Menu <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li>
				    	<a href="#">Action</a>
				    </li>
				    <li>
				    	<a href="#">Action</a>
				    </li>
				    <li>
				    	<a href="#">Action</a>
				    </li>
				  </ul>
				</div> 
				<!-- Small button -->
	</div>
     
 {% endblock %}
		
		</div>

{% endblock %}
{% block navegacion_Y_body %}
    	<div class="row">
        {% block navegacion %}
		
       {% include 'ERPCRMBundle:dashboard:navegacionCRM.html.twig' %}
            
            
       {% endblock %}

{% block cuerpo %}
     
    <div class="col-md-10">
      
              
              
 <div >
     
      <table id="listaClientesPotenciales" class="mdl-data-table" cellspacing="0" width="100%">
           
				        <thead>
                                                                    
				            <tr>
                                                
                                                                                 <th>ID Cliente Potencial</th>
                                                                                <th>Nombre</th>
                                                                                  <th>Telefono Fijo</th>
				                <th>Direccion</th>
                                                                              
                                                    
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
                                                                                 <th>ID Cliente Potencial</th>
				                <th>Nombre</th>
                                                                                <th>Telefono Fijo</th>
				                <th>Direccion</th>
                                                                               
                                                                               
				            </tr>
				        </tfoot>
				        {#<tbody>
				            <tr>
				                <td>Guillermo Jandres</td>
				                <td>Chiltiupan, La Libertad</td>
				                <td>Edinburgh</td>
				                <td><input type="button" value="Ver mas"></td>
				              
				            </tr>
				            
				        </tbody>#}
				    </table>

    
  </div>
</div>
    
    
    
    
    
{% endblock %}

       </div>
{% endblock %}
 
 {% block js_extend %}
     <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js "></script>
	<script type="text/javascript">
		$(document).ready(function() {
                    $("#eliminarCP").hide();
		    $('#listaClientesPotenciales').DataTable( {
                                    
		        columnDefs: [
		            {
		                targets: [ 0, 1, 2 ],
		                className: 'mdl-data-table__cell--non-numeric'
		            }
		        ],
                                        
                                        "pageLength": 10,
                                        "lengthMenu": [ 20 ],
                                        "dom": "ftp",
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax": {
                                            "url": '{{path('clientepotencial_data')}}',
                                            "type": 'GET'
                                        },
                                        "columns": [
                                                { "data":"id" },
                                             { "data":"nombre" },
                                             {"data":"telefono"},
                                             {"data":"direccion"},
                                             
                                             
                              ],
                                            "language": {
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "",
                                            "emptyTable": "No se encontraron registros",
                                            "paginate": {
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            },
                                            "processing": "<p>Procesando petición...</p>",
                                            "search": "<p>Buscar registros:</p>",
                                            "lengthMenu": "Mostrar _MENU_ registros"
                                        }

 
		    } );
//Evento que me me pasa como parametro el id de un tr y de esta forma poder llenar el formulario de edicion      
         
       var idEliminar=0;
       
       $(document).on("click","tr",function() {
       
             var idCliente =  $(this).children().html();
            $("tr").css('background-color', 'white');
            $(this).css('background-color', '#E9E6E6');
            
            
             $("#eliminarCP").show();   
             idEliminar=idCliente;
           
                
       });
         
       $(document).on("dblclick","tr",function() {
             var idCliente =  $(this).children().html();
             
               var numero = idCliente;
                  var url=Routing.generate('editarClientePotencial',{id:numero});
                  window.open(url,"_self"); 
             $("#eliminarCP").hide();   
                
       });
     
 
   $("#eliminarCP").on("click",function (){
    
               var valor = new Array();
          
                            
                  valor.push(idEliminar);


//Funcion del POST que me permite inabilitar un Proveedor

                    $.post( "{{path('eliminarclientePotencial')}}", { idclientepotencial: valor }, function( data ) {
                        var par = new Array();
                        par = data.query;

                      
                      
                        if(data.flag === 0) {
                            
                            var table = $('#listaClientesPotenciales').DataTable();
                                 $("#eliminarCP").hide();
                            table.ajax.reload( function ( json ) {
                               
                            } );
                          
                            
                        }
                        else{
                                Lobibox.notify("error", {
                                          size: 'mini',
                                          msg: 'Error al elmonar los datos, espere un momento e intenta de nuevo'
                                      });
                                            location.reload();
                        }
                       
                    }, "json"); 
               
               
   });
           
   
   
   
   
   
   
   
   
   
   
   
        
        
                    
});



               
               
               
  
           
           
               
               
               
    
</script>
  
     
      
      
  {% endblock %} 


