{% extends ':Layout:layout2.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css">
  

{% endblock css%}
{% block js %}
     {{parent()}}
     
    
{% endblock %}


{% block descripcion_y_acciones %}

    
 <div class="row">
 {% block descripcion %}
        <div class="col-md-8">
            <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">CRM</p>
            <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Panel de control de CRM</p>
        </div>
 {% endblock%}
 {% block acciones %}
     
     	<div class="col-md-4" style="margin-top: 50px;">
                                <!-- Boton Modificacion -->
	
                                
                               
                              
                                <!-- Botones del ingreso -->
                                
                                
				<!-- Boton con Dropdown -->
				<div class="btn-group pull-right" >
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  id="acciones">
				    Menu <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li>
				    	<a href="#">Action</a>
				    </li>
				    <li>
				    	<a href="#">Action</a>
				    </li>
				    <li>
				    	<a href="#">Action</a>
				    </li>
				  </ul>
				</div> 
				<!-- Small button -->
	</div>
     
 {% endblock %}
		
		</div>

{% endblock %}
{% block navegacion_Y_body %}
    	<div class="row">
        {% block navegacion %}
		<hr style="margin-top: 0px !important;">
                <div class="col-md-2 colorAnclas" style="border-right: 1px solid #f3f3f3;">
                    <!-- Left Navigation -->
                    <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('dashboard_index') }}" class="leftnava colorAnclas"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                        <a href="" class="leftnava colorAnclas"><li class="leftnav left ">Configuraci&oacute;n</li></a>

                    </ul>
                </div>	
       
            
            
       {% endblock %}

{% block cuerpo %}
     
   	<div class="col-md-10">
				<!-- Incio de Opcion de Modulo -->
				<div class="row module first">
					<div class="row" >
                                            <a href="{{ path('admin_cliente_index') }}">
						<div class="col-md-10 colorAnclas">
                                                   
							<p class="text-left" style="font-size: 17px; margin-top: 10px; margin-bottom: 0px;"><strong>Clientes</strong></p>
							<p class="text-left" style="font-size: 12px; #8D99A6 !important;">Agregar clientes a una base de datos.</p>
						</div>
						<div class="col-md-2 colorAnclas">
							<p class="text-right" style="padding-right: 20px; padding-top: 10px; #8D99A6 !important;">Hace 2 horas</p>
						</div>
                                             </a>
					</div>
				</div>
				<!-- Fin de Opcion de Modulo -->
				<!-- Incio de Opcion de Modulo -->
				<div class="row module">
					<div class="row">
                                            <a href="{{ path('admin_contacto_index') }}">
						<div class="col-md-10 colorAnclas">
							<p class="text-left" style="font-size: 17px; margin-top: 10px; margin-bottom: 0px;"><strong>Contactos</strong></p>
							<p class="text-left" style="font-size: 12px; #8D99A6 !important;">Agregar clientes a una base de datos.</p>
						</div>
						<div class="col-md-2 colorAnclas">
							<p class="text-right" style="padding-right: 20px; padding-top: 10px; #8D99A6 !important;">Hace 2 horas</p>
						</div>
                                            </a>   
					</div>
				</div>
				<!-- Fin de Opcion de Modulo -->
				<!-- Incio de Opcion de Modulo -->
				<div class="row module">
					<div class="row">
                                            <a href="{{ path('admin_clientepotencial_index') }}">
                                               
						<div class="col-md-10 colorAnclas">
							<p class="text-left" style="font-size: 17px; margin-top: 10px; margin-bottom: 0px;"><strong>Clientes potenciales</strong></p>
							<p class="text-left" style="font-size: 12px; #8D99A6 !important;">Agregar clientes potenciales a una base de datos.</p>
						</div>
						<div class="col-md-2 colorAnclas">
							<p class="text-right" style="padding-right: 20px; padding-top: 10px; #8D99A6 !important;">Hace 2 horas</p>
						</div>
                                            </a> 
					</div>
				</div>
				<!-- Fin de Opcion de Modulo -->
				<!-- Incio de Opcion de Modulo -->
				<div class="row module">
					<div class="row">
                                            <a href="{{ path('admin_proveedor_index') }}">
						<div class="col-md-10 colorAnclas">
							<p class="text-left" style="font-size: 17px; margin-top: 10px; margin-bottom: 0px;"><strong>Proveedores</strong></p>
							<p class="text-left" style="font-size: 12px; #8D99A6 !important;">Agregar clientes a una base de datos.</p>
						</div>
						<div class="col-md-2 colorAnclas">
							<p class="text-right" style="padding-right: 20px; padding-top: 10px; #8D99A6 !important;">Hace 2 horas</p>
						</div>
                                            </a>
					</div>
				</div>
				<!-- Fin de Opcion de Modulo -->
			</div>
    
    
    
    
    
{% endblock %}

       </div>
{% endblock %}
 
 {% block js_extend %}
    
     
      
      
  {% endblock %} 



