<html>
    <head>
          
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                      <title>MonkeyERP | Monkey Systems Latinoamerica</title>
                      <meta name="robots" content="noindex">
                      
                        
                            <!-- Stylesheet de Bootstrap -->
                            <link rel="stylesheet" href="{{ asset('Resources/src/css/bootstrap.css')}}" >
                            <!-- Stylesheet Personales -->
                            <link href="{{ asset('Resources/src/css/style.css')}}" rel="stylesheet">
                          
                            
                       
                            <script type="text/javascript" src="{{ asset('Resources/jquery/jquery-1.11.3.min.js') }}"></script>
                                    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                                        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                            <link rel="shortcut icon" href="{{ asset('Resources/imagenes/favicon.png')}}" type="image/x-icon">
                            <link rel="icon" href="{{ asset('Resources/imagenes/favicon.png')}}" type="image/x-icon">
                    
                       


    
    </head>
    <body>
        <style>
            .tamanhoFuente{
                font-size: 12px !important;
            }
        </style>
 
        
        <!-- Barra de Navegacion con Breadcrumb -->
        {% include ':Layout:nav2.html.twig' %}
	<!-- Fin de Barra de Navegacion -->
        <div class="container">
		<p class="robo text-center" style="font-size: 35px; font-weight: 300; font-family: 'Roboto', sans-serif; margin-bottom: 0px;">Dashboard</p>
		<p class="robo text-center" style="font-size: 17px; font-weight: 300; font-family: 'Roboto', sans-serif; margin-bottom: 30px;">Panel de control.</p>
		<!-- Col md 10 -->
		<div class="row">
			<div class="col-md-1"> </div>
			<div class="col-md-10 col-xs-12"> 
				<div class="row">
					<!-- Inicio de Icono de Notificaciones -->
					<div class="col-md-2 col-xs-6 col-sm-6" style="margin-top: 20px;">
						<a href="{{ path('crm_dashbord') }}" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon5.png')}}"></p>
                                                                                                                <p style="padding-top: 5px; margin-top: 0px;" ><strong>CRM</strong></p>
						</span></a>
					</div>
					<!-- Fin de Icono de Notificaciones -->
					<!-- Inicio de Icono de Notificaciones -->
					<div class="col-md-2 col-xs-6 col-sm-6" style="margin-top: 20px;">
						<a href="{{ path('ordenesdecompra') }}" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon2.png')}}"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Ordenes de Compra</strong></p>
						</span></a>
					</div>
					<!-- Fin de Icono de Notificaciones -->
					<!-- Inicio de Icono de Notificaciones -->
					<div class="col-md-2 col-xs-6 col-sm-6" style="margin-top: 20px;">
						<a href="template.php" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon13-05.png')}}"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Historial del cliente</strong></p>
						</span></a>
					</div>
                                                                                       
					<div class="col-md-2 col-xs-6 col-sm-6" style="margin-top: 20px;">
						<a href="pos.php" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon9.png')}}"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Productos</strong></p>
						</span></a>
					</div>
					
					<div class="col-md-2 col-xs-6 col-sm-6" style="margin-top: 20px;">
						<a href="template.php" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon13-04.png')}}"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Contabilidad</strong></p>
						</span></a>
					</div>
					<!-- Fin de Icono de Notificaciones -->
					<!-- Inicio de Icono de Notificaciones -->
			{#		<div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
						<a href="template.php" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{ asset('Resources/src/img/icon13-02.png')}}"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Compra de Gasolina</strong></p>
						</span></a>
                                        </div>#}
					<!-- Fin de Icono de Notificaciones -->
					<!-- Inicio de Icono de Notificaciones -->
					<!-- <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
						<a href="pin.php" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;"><span class="text-center">
							<p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="src/img/icon12.png"></p>
							<p style="padding-top: 5px; margin-top: 0px;"><strong>Clock In/Out</strong></p>
						</span></a>
					</div> -->
					<!-- Fin de Icono de Notificaciones -->
				</div> <!-- /row pequeño -->
			</div> <!-- /colmd10 -->
			<div class="col-md-1"> </div>
		</div> <!-- /row grande -->
	</div> <!-- /container -->
	<!-- Fin de Iconos de Navegacion de Sistema -->

                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="{{ asset('Resources/src/js/bootstrap.js')}}"></script>
                <script src="{{ asset('Resources/src/js/shortcut.js')}}"></script> <!-- http://www.openjs.com/scripts/events/keyboard_shortcuts/v1.php -->
                {#<script type="text/javascript">
                        $( document ).ready(function() {
                    shortcut.add("Ctrl+Shift+X",function() {

                    });
                  });
                </script>
                <script type="text/javascript">
                $(function () {
                    var options = {
                    };
                    $('.grid-stack').gridstack(options);
                });
                
                </script>#}
        

    </body>
</html>
