{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="row">
    {{ form_start(form, {'action': path('contacto_new')}) }}
        <div class="col-md-4">
            {{ form_row(form.nombre, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(form.apellido, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.telefono, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.emailId, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.numeroMovil, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.departamento, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
        <div class="col-md-4">
            {{ form_row(form.puesto, {'attr': {'class': 'form-control contactoTextBox '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.contactoProveedorId, {'attr': {'class': 'form-control contactoSelect '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.contactoClientePotencialId, {'attr': {'class': 'form-control contactoSelect '} }) }} 
        </div>
         <div class="col-md-4">
            {{ form_row(form.contactoClienteId, {'attr': {'class': 'form-control contactoSelect '} }) }} 
        </div>
        
        
     <input type="submit" value="Guardar" class="btn btn-success btn-sm" style="margin-top:10px; display: none;" id="submitInsertar" />
    {{ form_end(form) }}
</div>
<hr>
    
    
  
{% endblock %}
